[Unit]
Description=Sample Application (Kiosk mode)
BindsTo=gnome-session.target
After=gnome-session.target

[Service]
ExecStart=/usr/bin/google/chrome/chrome --password-store=basic --no-default-browser-check --no-first-run --ash-no-nudges --disable-search-engine-choice-screen -kiosk
Restart=always
SendSIGHUP=true